schemas/dictionary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ofwat.gov.uk/version1" xmlns="http://www.ofwat.gov.uk/version1">
	<xs:element name="version-number" type="xs:string"/>
	<xs:element name="unit-code" type="xs:string"/>
	<xs:element name="texts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="text" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="text-type-code" type="xs:string"/>
	<xs:element name="text-format-code" type="xs:string"/>
	<xs:element name="text-code" type="xs:string"/>
	<xs:element name="text-blocks">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="text-block" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="text-block">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description"/>
				<xs:element ref="version-number"/>
				<xs:element ref="text-format-code"/>
				<xs:element ref="text-type-code"/>
				<xs:element ref="data"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="text">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="code"/>
				<xs:element ref="text-blocks"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="purpose-code" type="xs:string"/>
	<xs:element name="price-base-code" type="xs:string"/>
	<xs:element name="list-code" type="xs:string"/>
	<xs:element name="items">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="item" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="item-properties-list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="item-properties" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="item-properties">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description"/>
				<xs:element ref="unit-code"/>
				<xs:element ref="version-number"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="group-total-equation"/>
						<xs:element ref="decimal-places"/>
						<xs:sequence minOccurs="0">
							<xs:element ref="inflation-type-code"/>
							<xs:element ref="price-base-code"/>
							<xs:element ref="purpose-code" minOccurs="0"/>
						</xs:sequence>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="decimal-places"/>
						<xs:choice minOccurs="0">
							<xs:element ref="purpose-code"/>
							<xs:sequence>
								<xs:element ref="inflation-type-code"/>
								<xs:element ref="price-base-code"/>
								<xs:element ref="purpose-code" minOccurs="0"/>
							</xs:sequence>
						</xs:choice>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="item-code">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="BR72050"/>
				<xs:enumeration value="CPMS4010DESC"/>
				<xs:enumeration value="SEFNAME01"/>
				<xs:enumeration value="STWNAME01"/>
				<xs:enumeration value="WRZDESC2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="code"/>
				<xs:element ref="list-code" minOccurs="0"/>
				<xs:element ref="text-code" minOccurs="0"/>
				<xs:element ref="group-type-code" minOccurs="0"/>
				<xs:element ref="item-properties-list"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="inflation-type-code" type="xs:string"/>
	<xs:element name="group-type-items">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="group-type-item" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="group-type-item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="group-type-code"/>
				<xs:element ref="item-code"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="group-type-code" type="xs:string"/>
	<xs:element name="group-total-equation" type="xs:string"/>
	<xs:element name="dictionary">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="items"/>
				<xs:element ref="texts"/>
				<xs:element ref="group-type-items"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="decimal-places" type="xs:string"/>
	<xs:element name="data" type="xs:string"/>
	<xs:element name="code" type="xs:string"/>
</xs:schema>
