schemas/FountainDataFormat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://www.ofwat.gov.uk/fountain/dataformat/v1" targetNamespace="http://www.ofwat.gov.uk/fountain/dataformat/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="value">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="company" use="required" type="xs:string"/>
					<xs:attribute name="year" use="required" type="xs:string"/>
					<xs:attribute name="item" use="required" type="xs:string"/>
					<xs:attribute name="grouptype" type="xs:string"/>
					<xs:attribute name="group" type="xs:string"/>
					<xs:attribute name="cg" type="xs:string"/>
			        <xs:attribute name="timestamp" type="xs:long" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="value" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="comment" type="xs:string"/>
	<xs:element name="audits">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="audit" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="audit">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="branch-tag" minOccurs="0" type="xs:string"/>
				<xs:element ref="comment"/>
				<xs:element ref="data"/>
			</xs:sequence>
			<xs:attribute name="user" use="required" type="xs:string"/>
			<xs:attribute name="timestamp" use="required" type="xs:long"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
